<div class="listingsviewwi">
<%= render 'layouts/vacancylist' %>
</div>
<script type="text/javascript">

$(document).ready(function () {
  $('.smcarousel').carousel({
    interval: 1000
  });
});

</script>