<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<p>buildings/index.html.erb</p>
<div class="container">
<% @listings.each do |l| %>
        
<%= l.lbAddressLine1 %> <br/>



<% end %>
<hr>



</div>


