  <br />
  <br />

  <div class="container text-center">

    <img class="logohome flipInY cenImage" src="/assets/pmlogo1.png" alt="logo" />

      <div class="text-center loginForm slideUp">

          <h1>Edit Building</h1>

<%= render 'form' %>
         

      </div>

  </div>

</div>