<!-- Button trigger modal -->
<button class="btn btn-primary addunit" data-toggle="modal" id="themodal" data-target="#myModal">
  <i class="fa fa-plus-circle"></i> &nbsp;Add new unit
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modalhead text-center">Add Unit</h1>
        <%= render 'units/form' %>
      </div>
    </div>
  </div>
</div>