<!-- Button trigger modal -->
<button class="my-btn" data-toggle="modal" id="themodal" data-target="#myModal">
  <i class="fa fa-plus-circle"></i> &nbsp;Learn more
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        

        <div class="headtitlelist">
        <h1 class="pull-left margleft"><%#= @unit.building.bName %></h1>
        <h1 class="pull-right">$<%#= @unit.uPrice %> / <%#= @unit.uSquareFootage %> Square Feet</h1>
      </div>

    <div class="row unitshowtwo">

      <div class="col-xs-5 text-right">
        <div class="unitimageblock">
        <%#= image_tag @unit.unitimage.url(:thumb) %>
        </div>
      </div>

      <div class="col-xs-7">

        <div class="unitdescriptionblock">

          <div class="row">

            <div class="col-xs-6">
              <%#= @unit.building.bName %>
              <%#= @unit.building.bAddress1 %><br />
              <%#= @unit.building.bCity %>
              <%#= @unit.building.bState %>
              <%#= @unit.building.bZip%>
            </div>
            <div class="col-xs-6">
              $<%#= @unit.uPrice %><br />
              <%#= @unit.uSquareFootage %> Square Feet<br />
              <%#= @unit.uBedroomCount %> Bedroom 
              <%#= @unit.uType %><br />
            </div>
          </div>

          <div class="unitdesc">
              <%#= @unit.uDescription %>
          </div>
              
         <!--      <button class="btn btn-default btn-primary">Request more info</button> -->
              <button class="btn btn-default btn-primary">Submit an application</button>

          <div class="row listedat">
            <div class="pull-right">
          <span class="mytitle"> Listed: </span>
          <span class="bold"><%#= @unit.created_at.strftime("%b%e%l:%M %p") %></span> <br />
            </div>
          </div>

      </div>

    </div>
        
      </div>
    </div>
  </div>
</div>