<div class="yelBgtwo">
<div class="container text-center">
    
    <img class="logohome flipInY cenImage" src="/assets/pmlogo1.png" alt="logo">

      <div class="text-center loginFormtwo slideUp">

<%= render 'editform' %>
</div>
</div>
</div>