<div class="yelBg" style="width: 100%; height: 100%; background-color: #ffd86d; position: fixed; top: 0;">

  <br />
  <br />

  <div class="container text-center">

    <img class="logohome flipInY cenImage" src="/assets/pmlogo1.png" alt="logo">

      <div class="text-center loginForm slideUp">

          <h1>New Listing</h1>
          
          <%= render 'form' %>

          <%= link_to 'Back', units_path %>

      </div>

  </div>

</div>