<div id="home"></div>
<%= render 'layouts/nav' %>





<h2 class="margintest">&nbsp;<br /><br /></div>

  <br /><br />
  <div class="container">

    <%= render 'layouts/listingslider' %>

<% @unit %>



<%#= link_to image_tag(@unitimage.image.url(:med)), @unitimage.image.url %>