
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

/*@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);*/

@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,700);

@import 'bootstrap';
@import "font-awesome";

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

$font-stack:    'Dosis', sans-serif;
$admin-color:   #ffd86d;
$primary-color:   #ffd86d;
$grnbtn-color:  #53d81e;

.navbar-nav.nav-justified > li{
    float:none;
}

.slideroverlay {
  color: black;
  font-size: 1em;
  font-weight: 100;
  background-color: rgba(255, 255, 255, .8);
  text-align: left;
  position: absolute;
}

.bold {
  font-weight: 700;
  font-family: helvetica;
}

.buildins {
  font-family: $font-stack;
}

.buildinbtn:hover {
  background-color: none;
  text-decoration: none;
  background-color: black;
  color: white;

}

.buildinbtn {
  background-color: $primary-color;
  color: black;
}

.boldindex {
  font-weight: 700;
  font-family: helvetica;
}

.mytitle {
  font-weight: 100;
}

.myindextitle {
  font-weight: 100;
}

.btn-rederer {
  background-color: #FF3333;
  border: none;
  color: white;
  width: 40px;
  margin-top: 1em;

 }

.widerrr {
  width: 30px;
  margin-top: 1.7em;
  margin-right: -.4em;
  border-radius: 50%;
  overflow: hidden;
}

.opac {
  opacity: 0;
  position: absolute;
  z-index: 10000000;
}

.tabfont {
  font-family: $font-stack;
  font-weight: 100;
  font-size: 1.5em;
}

.modalhead {
  font-family: $font-stack;
  font-weight: 100;
  text-align: cetner;
  font-size: 3em !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

.myfont {
  font-family: $font-stack;
  font-weight: 100;
  text-align: left;
}

.listingsviewwi {
  width: 100% !important;
}

.testtt {
  padding-top: 1.6em;
  position: absolute;
  color: white;
  font-size: .7em;
}


.showbt {
  position: absolute;
  margin-top: -1em;
}

.showbtt {
  margin-top: 0em;
  position: absolute;

}

.myfonttwo {
  font-family: $font-stack;
  font-weight: 100;
  text-align: center;
  margin-top: -1.5em;
}

.passin {
  width:200px;
  border: none;
}

.listingimg {
  height: 100px;
  width: auto;
  margin-top: 2em;
  margin-left: -12.8em;
}

.latlong {
  list-style: none;
}

.mylistingimg {
  height: 100px;
  width: auto;
  margin-top: 2em;
}

.dashform {
  width: 70%;
  margin: 0 auto;
}

.unitdetails {
  margin-left: 2em;
  text-align: left;
  font-family: $font-stack;
  font-weight: 100;
}


.listings {
  padding-top: .3em;
  padding-bottom: .3em;
}

.listings li {
  list-style: none;
  margin-bottom: 2em;
  width: 100%;
}

.fa {
  display: block;
}

.ca {
  color: green;
}

.textheadone {
  font-family: $font-stack;
  font-weight: 100;
  text-align: right;
  margin-right: 3em;
}

.listings {
  width: 100%;
  height: auto;
  margin-top: -3em;
}

.listcol {
  position: absolute;
  margin-top: 10em;
}

.indexlistcol {
  position: absolute;
}

.editlink:hover {
  color:red;
  background-color: white;

    .fa-circle {
      opacity: 1;
    }
}

.fa-circle {
  opacity: .6;
}

.fa:hover {
  text-decoration: none;
  background-color: none;
}

.newBg {
  width: 100%;
  height: 100%;
  background-color: $admin-color;
  position: fixed;
  top: 0;
}

.logoTxt {
  margin-top: 0em;
  font-family: $font-stack;
  font-size: 3em;
  font-weight: 300;
}

.space {
  margin: .4em;
}

.newbtn {
  border: none;
  background-color: lightblue;
}

.logoTxt:hover {
  color: #555;
}

.modal-dialog {
  margin-left: -25%;
}

.myNavBar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  height: 13em;
  z-index: 1000;
  border-radius: none;
  border: none !important;
  -webkit-transition: background-color ease-out .3s;
  -moz-transition: background-color ease-out .3s;
  -o-transition: background-color ease-out .3s;
  transition: background-color ease-out .3s;
}

.dashNavBar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: transparent;
  height: 5em;
  z-index: 1000;
  border-radius: none;
  border: none !important;
  -webkit-transition: background-color ease-out .3s;
  -moz-transition: background-color ease-out .3s;
  -o-transition: background-color ease-out .3s;
  transition: background-color ease-out .3s;
}

.myNavBar:hover {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: background-color ease-out .3s;
  -moz-transition: background-color ease-out .3s;
  -o-transition: background-color ease-out .3s;
  transition: background-color ease-out .3s;

}

.loginTxt {
  font-family: $font-stack;
  font-size: 1.2em;
  padding-top: 1.3em;
}

.logOutBtn {
  position: fixed;
  top: .4em;
  left: .4em;
  border: none;
  background-color: white;
  font-family: $font-stack;
}

.unitimageblock {
  padding: 2em;
}

.viewdashlink:hover {
  background-color: white;
  color: rgb(66, 139, 202); 
  text-decoration: none;
}

.margleft {
  margin-left: 2em;
}

.deletebutn {
  border: none;
  background-color: $primary-color;
  color: black;
  height: 2em;
  border-radius: 5px;
}

.viewbutn {
  border: none;
  background-color: #777;
  color: white;
  border-radius: 5px;
  height: 2em;
}

#carousel-example-generic {
  height: 200px;
}

.carousel-example-generic-two {
  height: 240px !important;
}

.viewbutn:hover {
  background-color: rgb(66, 139, 2);
}

.editbutn {
  border: none;
  background-color: rgb(66, 139, 202);
  color: white;
  border-radius: 5px;
  height: 2em;
  float: right;
}

.editcol {
  text-align: right;
}

.carar {
  margin-top: 3em;
}

.carary {
  margin-top: 2.6em;
}

.editbutn:hover {
  background-color: rgb(66, 139, 2);
  color: white;
}

.deletebutn:hover {
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.details > .viewdeets {
  background-color: white;
  color: rgb(66, 139, 202);
}

.viewdeets:hover {
  background-color: white;
  color: rgb(66, 139, 202);
  text-decoration: none;
}


.headtitlelist {
  width: 100%;
  height: 100px;
  background-color: $primary-color;
  color: black;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 2em;
  font-family: helvetica;
  font-size: 2em;
}

.unitshowtwo {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid $primary-color;
  min-height: 200px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  font-family: helvetica;
}

.unitdescriptionblock {
  margin-top: 3em;
}

.listedat {
  margin-right: 1em;
}

.unitdesc {
  margin: 2em 2em 2em 0;
}

.myArrow {
  margin-top: 3.3em;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, .1);
}

.navWidth {
  width: 80%;
  margin: 0 auto;
}

.dashbtn {
  width: 400px;
  margin: 0 auto;
  margin-top: 3em;
}

.slideDown{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  

  animation-duration: 1.2s; 
  -webkit-animation-duration: 1.2s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  

  visibility: visible !important;           
}

@keyframes slideDown {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0%);
  }   
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-40%);
  }
  100% {
    -webkit-transform: translateY(0%);
  } 
}

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  visibility: visible !important;     
}

@keyframes slideUp {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(15%);
  }
  100% {
    -webkit-transform: translateY(0%);
  } 
}



.mycontainer {
  position:relative;
  overflow:hidden;
}

.mytabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #777;
}

.mytabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #777;
}

.mytabs {
  border-bottom: 1px solid #777;
}

.mycontainer .mytextbox {
  width:300px;
  height:225px;
  position:absolute;
  top:0;
  left:0;
  margin-top:-225px;
  background-color: rgba(0,0,0,0.75);
}
.mycontainer:hover .mytextbox {
  margin-top:0;
}

.dashtab {
  width: 800px;
  margin: 0 auto;
/*  margin-left: 10%;*/
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  height: 500px;
  margin-left: 70%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.indexlistscroll {
  width: 100%;
  height: 400px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -1em;
}

.margin {
  margin-top: 4em;
  display: block;
}

button, input, optgroup, select, textarea {
  font-size: 1em;
}

h1 {
  font-size: 1em !important;
  margin: 1.3em;
}

.listingcol {
  background-color: white;
  height: auto;
  margin-top: 4em;
  margin-left: 1em;
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
}

.mycontent {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.editlinks {
  margin-top: .5em;
}

.bgadmin {
  background: $primary-color;
  height: 100% !important;
  width: 100%;
  position: absolute;
}

.destroybtn {
  margin-top: .1em;
}

.mytext {
  padding-top: 75px;
  color: white;
  text-align: center;
  font-family: $font-stack;
  font-weight: 200;
  padding: 1em;
  margin-top: 4em;
}

.centerBtn {
  width: 300px;
  margin: 0 auto;
  margin-top: 8em;
  border: none;
  color: black;
  background-color: #ffd86d;
  font-family: $font-stack;
  font-weight: 100;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.centerBtn:hover {
  background: black;
  color:white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.logohom {
  font-weight:100;
  font-size: 4em;
  padding-top: -10.5em;
  margin-top: -.8em;
  opacity: .8;
  width: 185px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1000;
}

.allbuildbtn {
  background-color: $primary-color;
  color: black;
  font-family: $font-stack;
  font-weight: 400;
  width: 150px;
  border: none;
  font-size: 1.5em;
  margin-right: .4em;
}

.allbuildbtn:hover {
  background-color: black;
  color: white;
}

.contentRow {
  margin: 1em 0 1em 0;
  padding-bottom: .8em;
  border-bottom: 1px solid #cfcfcf;
}

.details {
  color: blue;
  text-decoration: underline;
}

.btn-primary {
  width: 200px;
  margin: 0 auto;
}

.titleRow {
  margin: 2em 0 1em 0;
  padding-bottom: .8em;
  font-weight: bold;
  border-bottom: 1px solid #cfcfcf;
}

.altdashView {
  background-color: white;
  min-height: 200px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 2em;
}

.dashlist {
  height: auto;
  margin-bottom: 3em;
}

.altdashViewU {
  background-color: white;
  min-height: 200px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 2em;
}

.footercontact {
  font-family: $font-stack;
  color: black;
  font-size: .6em;
  text-align: left;
  background-color: $primary-color;
  padding: 2em;
  margin-left: 4em;
  width: 70%;
}

.logohom:hover {
  font-weight:100;
  font-size: 4em;
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.myfooter {
  width: 100%;
  height: 100px;
  bottom: 0;
}

.logofoot {
  font-weight:100;
  font-size: 4em;
  opacity: .8;
  width: 185px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1000;
}

.btn-log {
  border: none;
}

.fb {
  padding-top: 2em;
}

.logofoottwo {
  font-weight:100;
  font-size: 1em;
  opacity: .8;
  width: 185px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1000;
}

.logofoot:hover {
  font-weight:100;
  font-size: 4em;
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.unitshow {
  font-size: 1em;
}

.units {
  font-size: .5em;
}

.logohome {
  font-weight:100;
  font-size: 4em;
  padding-top: -10.5em;
  margin-top: 1em;
  opacity: .8;
  width: 185px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1000;
}

.featuresb li {
  list-style: none;
  font-family: $font-stack;
}

.logohome:hover {
  font-weight:100;
  font-size: 4em;
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.fa-plus-square-o {
  padding-top: .3em;
}

.downimg {
  font-weight:100;
  font-size: 4em;
  opacity: .8;
  width: 185px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1000;
  margin-left: 1.5em;
  margin-top: .4em;
}

.myadmintxt a:hover {
  background-color: white;
  text-decoration: none;
  color: #666;
}

.downimgt {
  font-weight:100;
  font-size: 4em;
  opacity: .8;
  width: 185px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1000;
  top: 1em;
  left: 1em;
  display: inline;
  z-index: 10000000000000000000000000000000000000;
}

.addbuilding {
  margin-top: .5em;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.downImg:hover {
  font-weight:100;
  font-size: 4em;
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.colone {
  width: 50%;
}

.logolink {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.logolink:hover {
  text-decoration: none;
  background-color: none;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.coltwo {
  width: 50%;
}

.yelBgtwo {
  width: 100%;
  height: 100%;
  background-color: $admin-color;
  top: 0;
  bottom: 0;
  padding-bottom: 3em;
}

.whitecolbg {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  height: auto;
  display: block;
  z-index: 5;
  position: relative;
  margin-top: 15em;
  float: right;
}

.margintest {
  margin-bottom: .8em;
}

.myDownArrow {
  width: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 280px;
  margin-left: -70px;
}

.moretxt {
  line-height: 3em;
}

.btnCenter {
  width: 300px;
  margin: 0 auto;
  margin-top: 0em;
}

.addunit {
  font-family: $font-stack;
  font-weight: 100;
  font-style: 1.5em;
  width: 150px;
  background-color: $primary-color;
  border: none;
  color: black;
}

.addunit:hover {
  background-color: green;
}

.aboutimg {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-bottom: 2em;
}

.aboutext {
  max-width: 600px;
}

.mytextbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin-left: 1.33em;
}

.slideTxt {
  box-shadow: none;
}

.linkHover:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.navLinks {
  margin-top: 1.2em;
  font-family: $font-stack;
  font-size: 1.2em;
}

.mainTxtHead {
  font-family: $font-stack;
  margin: 1.3em;
}

.dashboardHead {
  height: 100%;
}

.loginForm {
  font-family: $font-stack;
  width: 300px;
  margin: 0 auto;
  margin-top: 2em;

}

.loginFormtwo {
  font-family: $font-stack;
  width: 300px;
  margin: 0 auto;
  margin-top: 2em;

}

.yelBg {
  width: 100%;
  height: 100%;
  background-color: $admin-color;
  position: fixed;
  top: 0;
}

.myadmintxt {
  font-weight: 100;
  font-family: $font-stack;
  font-size: 36px;
  margin-top: -1.5em;
}

.dashhead {
  width: 100%;
  margin: 2em auto 0 auto;
}

.yelBgtwo {
  width: 100%;
  height: 100%;
  background-color: $admin-color;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.myplisting {
  list-style: none;
  font-size: .5em;
}

.logoTxt > li > a {
  color: black !important;
}

.logoLink a:hover {
  color: #cfcfcf;
}

.unitslis li {
  list-style: none;
}

.rprice {
  width: 100%;
  text-align: center;
  margin: 0, auto;
  padding: .5em;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-family: lato;
  font-weight: 100;
  font-size: 1.4em;
}

.listingcontainer {
  height: auto;
  width: 100%;
  background-color: white;
}

.desc {
  max-width: 320px;
}

.unitfeat {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  font-family: lato;
}

.infotext {
  margin-top: 1em;
}

#carousel-example-generic {
  height: 294px;
}

.appbtn {
  margin-top: 9.6em;
}

.daytimebtn {
  margin-top: 1.5em;
}

.sideimg {
  width: 100%;
  height: 148px;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 10;
}

/*.sideimg:hover {
  opacity: .5;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 2;
}*/

.my-btn {
  border-radius: 3px;
  border: none;
  width: 175px;
  height: 30px;
  background-color: $primary-color;
  color: black;
  font-family: lato;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.my-btn:hover {
  background-color: black;
  color: $primary-color;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.clicktxt {
  position: absolute;
  width: 320px;
  text-align: center;
  margin: 5em auto;
  font-size: 2em;
  z-index: 100;
}

.unitslistingsbar {
  height: 100%;
  left: 0;
  width: 100%;
  min-width: 320px;
  padding-right: .5em;
  z-index: 10000;
}

.unitside {
  float: left;
  width: 25%;
  min-width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  z-index: 1000000000;
}

.mapside {
  width: 100%;
  float: right;
}

.mapTxt {
  font-family: $font-stack;
  margin-bottom: 2em;
}

.servicerow {
  margin-bottom: 1em;
}

.modal-backdrop {
    z-index: 1020;
}

#map-canvas {
  height:500px;
  width:100% !important;
  background-color: rgba(255, 255, 255, 0.4);
}

#mymap-canvas {
  min-height: 100%;
  position: absolute;
  width:100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(.9);
    opacity: 0.0;   
  }
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(.9);
    opacity: 0.0;   
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

.mobileNav {
  display: none;
}

.dropmenunav {
      display: none;
}

.mobileMarg {
  display: none;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


@media screen and (max-width: 1200px) {

    .mytextbox {
      margin-left: .55em;
    }
 
}

@media screen and (max-width: 987px) {

.mytextbox {
      margin-left: 7.3em;
    }

}

@media screen and (max-width: 900px) {

.mytextbox {
      margin-left: 7.3em;
    }


}

@media screen and (max-width: 800px) {

.mytextbox {
      margin-left: 7.3em;
    }


}

@media screen and (max-width: 768px) {

    .posFix {
      position: fixed;
      top: 0em;
      z-index: 10000;
      background-color: white;
      width: 100%;
    }

    .myNavBar {
      display: none !important;
    }

    .dropmenunav {
      display: block;
    }

    .margin {
      display: none;
    }

    .mobileNav {
        display: block;
        height: 4.4em;
        padding: 1.3em;
    }

    .mobileNav li a {
      margin-top: -1em;
      font-size: 1em !important;
      
    }

    .fa-sort-desc {
      color: #cfcfcf;
      margin-top: -.3em;
      position: fixed;
      right: 1em;
    }

    .mobilelogoLink {
      font-family: $font-stack;
      font-weight: 100;
      font-size: 2em;
    }

    .mobileNav a.mobilelogoLink:hover {
      text-decoration: none;
      background-color: white;
      color: #cfcfcf;
    }

    header p {
      display: none;
    }

    .dropLinks {
      list-style: none;
      text-align: center;
      font-family: $font-stack;
      font-weight: 100;
      padding: .4em;
      margin-left: -1.8em;
      font-size: 1.2em;
      width: 100%;
    }

    .dropLinks a {
      width: 100%;
    }

    .dropLinks a:hover {
      text-decoration: none;
      background-color: white;
      color: #cfcfcf;
    }
}

@media screen and (max-width: 700px) {
  .mytextbox {
    margin-left: 5.6em;
  }
}

@media screen and (max-width: 600px) {

   .mytextbox {
    margin-left: 4.6em;
  }
}

@media screen and (max-width: 500px) {

   .mytextbox {
    margin-left: 1.5em;
  }
}

@media screen and (max-width: 400px) {

   .mytextbox {
    margin-left: 1.5em;
  }

}



