
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

/*@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);*/

@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import 'bootstrap';
@import "font-awesome";

.navbar-nav.nav-justified > li{
    float:none;
}

.logoTxt {
  margin-top: 0em;
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
  font-weight: 300;
}

.logoTxt:hover {
  color: #555;
}

.myNavBar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: white;
  height: 10em;
  z-index: 1000;
  border-radius: none;
  border: none !important;

}

h1 {margin: 1.3em;}

.loginTxt {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  padding-top: 1.3em;
}

.logOutBtn {
  position: fixed;
  top: .4em;
  left: .4em;
  border: none;
  background-color: white;
  font-family: 'Dosis', sans-serif;
}

.myArrow {margin-top: 2.7em;}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, .1);
}

.navWidth {
  width: 80%;
  margin: 0 auto;
}

.slideDown{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  

  animation-duration: 1.2s; 
  -webkit-animation-duration: 1.2s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  

  visibility: visible !important;           
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }   
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  } 
}

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  visibility: visible !important;     
}

@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  } 
}


.mycontainer {
  position:relative;
  overflow:hidden;
}
.mycontainer .mytextbox {
  width:300px;
  height:225px;
  position:absolute;
  top:0;
  left:0;
  margin-top:-225px;
  background-color: rgba(0,0,0,0.75);
}
.mycontainer:hover .mytextbox {
  margin-top:0;
}

.margin {
  margin: 3em;
}

.mytext {
  padding-top: 75px;
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  padding: 1em;
  margin-top: 4em;
}
.mytextbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin-left: 3.3em;
}

.slideTxt {
  box-shadow: none;
}

.navLinks {
  margin-top: 1.2em;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
}

.mainTxtHead {
  font-family: 'Dosis', sans-serif;
  margin: 1.3em;
}

.loginForm {
  font-family: 'Dosis', sans-serif;
  width: 300px;
  margin: 0 auto;
  margin-top: 2em;

}

.loginBg {
  width: 100%;
  height: 100%;
  background-color: #ffd86d;
  position: fixed;
}

.logoTxt > li > a {
  color: black !important;
}

.logoLink a:hover {
  color: #cfcfcf;
}




