.st-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  background-color: white;
}


.st-container > input,
.st-container > a {
  position: fixed;
  top: 1em;
  width: 20%;
  cursor: pointer;
  font-size: 16px;
  height: 54px;
  line-height: 34px;
}

.st-container > input {
  opacity: 0;
  z-index: 1000;
}


.st-container > a {
  z-index: 10;
  font-weight: 200;
  background: white;
  color: black;
  text-align: center;
}

.st-container > a:hover {
  z-index: 10;
  font-weight: 200;
  background: white;
  color: black;
  text-align: center;
  text-decoration: none;
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 34px;
  background: white;
  z-index: 9;
  top: 0;
}

.st-containertwo:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 34px;
  background: white;
  z-index: 9;
  top: 0;
}

#st-control-1, #st-control-1 + a {
  left: 0;
}

#st-control-2, #st-control-2 + a {
  left: 20%;
}

#st-control-3, #st-control-3 + a {
  left: 40%;
}

#st-control-4, #st-control-4 + a {
  left: 60%;
}

#st-control-5, #st-control-5 + a {
  left: 80%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
  background: white;
  color: #cfcfcf;
  font-weight: 100;
  text-decoration: none;
  -webkit-transition: background-color ease-out .3s;
  -moz-transition: background-color ease-out .3s;
  -o-transition: background-color ease-out .3s;
  transition: background-color ease-out .3s;
}



.st-container > input:hover + a{
  background: white;
  color: #cfcfcf;
  font-weight: 100;
  text-decoration: none;
  -webkit-transition: background-color ease-out .3s;
  -moz-transition: background-color ease-out .3s;
  -o-transition: background-color ease-out .3s;
  transition: background-color ease-out .3s;
}

.st-container > input:hover + a:after {
  border-bottom-color: #cfcfcf;
  text-decoration: none;
}

.st-scroll,
.st-panel {
  position: relative;
  width: 100%;
  height: 100%;
}

.st-scroll {
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  
  /* Let's enforce some hardware acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.st-panel{
  background: white;
  overflow: hidden;
} 

.st-bg {
  background: white url('/assets/bg1.jpg') top no-repeat;
  background-size: cover;
}

#bgTxtme {
  background-color: rgba(255, 255, 255, .9);
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  height: 340px;
}

.workaround {
  padding-top: 14em;
}

#st-control-1:checked ~ .st-scroll {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  -o-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
  -webkit-transform: translateY(-400%);
  -moz-transform: translateY(-400%);
  -o-transform: translateY(-400%);
  -ms-transform: translateY(-400%);
  transform: translateY(-400%);
}


/* Content elements */

.st-deco{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -100px;
  background: white;
  color: black;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    color: #fff;
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 90px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  -webkit-transform: rotate(-45deg) translateY(25%);
  -moz-transform: rotate(-45deg) translateY(25%);
  -o-transform: rotate(-45deg) translateY(25%);
  -ms-transform: rotate(-45deg) translateY(25%);
  transform: rotate(-45deg) translateY(25%);
}

.nameTxt {
  font-size: 3em;
  margin: 2em;
  padding: 2em;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
}

.st-panel h2 {
  color: black;
  position: absolute;
  font-size: 54px;
  font-weight: 900;
  width: 80%;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  left: 10%;
  text-align: center;
  line-height: 50px;
  margin: -65px 0 0 0;
  padding: 0;
  top: 50%;
  -webkit-backface-visibility: hidden;
}

.visiontxt {
  color: black;
  position: relative !important;
  font-size: 54px;
  font-weight: 900;
  width: 80%;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  left: 10%;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  margin-top: -2em !important;
  padding-bottom: 1em;
  -webkit-backface-visibility: hidden;
}

a h3 {
  color: black;
}

h3 a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, .0);
  color: black;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h3 {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}


#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
  -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
  0% { 
    -webkit-transform: translateY(-40px); 
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateY(0px);  
    opacity: 1;
  }
}

@-moz-keyframes moveDown{
  0% { 
    -moz-transform: translateY(-40px); 
    opacity: 0;
  }
  100% { 
    -moz-transform: translateY(0px);  
    opacity: 1;
  }
}

@-o-keyframes moveDown{
  0% { 
    -o-transform: translateY(-40px); 
    opacity: 0;
  }
  100% { 
    -o-transform: translateY(0px);  
    opacity: 1;
  }
}

@-ms-keyframes moveDown{
  0% { 
    -ms-transform: translateY(-40px); 
    opacity: 0;
  }
  100% { 
    -ms-transform: translateY(0px);  
    opacity: 1;
  }
}

@keyframes moveDown{
  0% { 
    transform: translateY(-40px); 
    opacity: 0;
  }
  100% { 
    transform: translateY(0px);  
    opacity: 1;
  }
}

.st-panel p {
  position: absolute;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  color: #8b8b8b;
  z-index: 2;
  padding: 0;
  width: 50%;
  left: 25%;
  top: 50%;
  margin: 10px 0 0 0;
  -webkit-backface-visibility: hidden;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
  -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
  0% { 
    -webkit-transform: translateY(40px); 
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateY(0px);  
    opacity: 1;
  }
}

@-moz-keyframes moveUp{
  0% { 
    -moz-transform: translateY(40px); 
    opacity: 0;
  }
  100% { 
    -moz-transform: translateY(0px);  
    opacity: 1;
  }
}

@-o-keyframes moveUp{
  0% { 
    -o-transform: translateY(40px); 
    opacity: 0;
  }
  100% { 
    -o-transform: translateY(0px);  
    opacity: 1;
  }
}

@-ms-keyframes moveUp{
  0% { 
    -ms-transform: translateY(40px); 
    opacity: 0;
  }
  100% { 
    -ms-transform: translateY(0px);  
    opacity: 1;
  }
}

@keyframes moveUp{
  0% { 
    transform: translateY(40px); 
    opacity: 0;
  }
  100% { 
    transform: translateY(0px);  
    opacity: 1;
  }
}

/* Colored sections */


.st-color,
.st-deco{
  background: black;
}
.st-color [data-icon]:after {
  color: black;
}
.st-color .st-deco {
  background: #fff ;
}
.st-color h2 {
  color: #fff;
} 
.st-color p {
  color: #fff;
  color: rgba(255,255,255,0.8);
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 940px) {

.visiontxt {
  margin-top: -2.4em !important;
}

}

@media screen and (max-width: 520px) {
  
  .st-panel p {
    width: 90%;
    left: 5%;
    margin-top: 0;
  }

  .visiontxt {
    margin-top: -2.7em !important;
  }
  
  .st-container > a {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 360px) {
  .st-container > a {
    font-size: 10px;
  }
  
  .st-deco{
    width: 120px;
    height: 120px;
    margin-left: -60px;
  }
  
  [data-icon]:after {
    font-size: 60px;
    -webkit-transform: rotate(-45deg) translateY(15%);
    -moz-transform: rotate(-45deg) translateY(15%);
    -o-transform: rotate(-45deg) translateY(15%);
    -ms-transform: rotate(-45deg) translateY(15%);
    transform: rotate(-45deg) translateY(15%);
  }
}