  <div class="yelBgtwo">

  <br />
  <br />

  <div class="container text-center">

    <img class="logohome flipInY cenImage" src="/assets/pmlogo1.png" alt="logo" />

      <div class="text-center loginForm slideUp">

          <h1>Add a property</h1>
          
          <%= render 'form' %>

          <%= link_to 'Back', buildings_path %>
          

      </div>

  </div>

</div>

</div>