<li class="plisting">
  <div class="row">
    <div class="col-xs-2">&nbsp;</div>
    <div class="col-xs-1">
      <a href="#"><img class="listingimg col-xs-6" src="/assets/test.jpg"></a>
    </div>
    <div class="col-xs-2 unitdetails">
      
      Address:<br />
      Price:<br />
      Bedrooms:<br />
      Bathrooms:<br />
    </div>
    <div class="col-xs-4 unitdetails">
      Date listed:<br />
      Description:
    </div>
    <div class="col-xs-2 editlinks">
      <a class="editlink" href="#">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
        </span><br />
      </a>
      <a class="editlink" href="#">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
        </span><br />
      </a>
      <a class="editlink" href="#">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
      </a>

    </div>
    <div class="col-xs-1"></div>

  </div>
</li>