<header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<nav class="myNavBar navbar-default" role="navigation" style="border-radius:none !important">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <ul class="nav navbar-nav navbar-left navLinks">
        <%#= form_for @user, {url: new_user_path} do |f| %>
          <li><%#= button_to "Sign up", new_user_path, :class => "btn btn-default btn-md btn-log", :method :get %></li>
        <%# end %>
      </ul>
    </div>
      <ul class="nav navbar-nav nav-justified text-center logoTxt">
        <li><a class="logoLink fadeIn" href="/">< pmgmt ></a></li>
      </ul>
     <ul class="nav navbar-nav navbar-right">
        <% if current_user %>  
          <li><%= button_to "Log out", destroy_user_session_path, method: :delete, :class => "btn btn-default btn-md logOutBtn" %></li>
        <% else %>
          <li>
            <%= button_to "Admin Login", user_session_path, method: :get, :class => "btn btn-default btn-md logOutBtn" %>
          </li>
        <% end %>
      </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navWidth">
        <ul class="nav navbar-nav nav-justified text-center">
          <%# if current_user %>  
            <li class="navLinks loginTxt"><a href="#st-panel-1">Home</a></li>
          <%# else %>
            <li class="navLinks previ loginTxt"><a href="#st-panel-2">Services</a></li>

            <li class="navLinks previ loginTxt"><a href="#st-panel-3">About Us</a></li>

            <li class="navLinks previ loginTxt"><a href="#st-panel-4">Investments</a></li>

            <li class="navLinks previ loginTxt"><a href="#st-panel-5">Vacancy List</a></li>

            <li class="navLinks previ loginTxt"><a href="#st-panel-6">Contact</a></li>
          <%# end %>
        </ul>
      </div> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="posFix">
<div class="dropmenunav">
          
      <div id="dropbtn">

          <div class="mobileNav text-center" id="menubutton">
            <a class="mobilelogoLink" href="/">< pmgmt ><i class="fa fa-sort-desc"></i></a>
          </div>

      </div>
      
      <div id="togglenav">
        <ul class="dropmenu">
          <li class="dropLinks"><a href="#">Services</a></li>
          <li class="dropLinks"><a href="#">About Us</a></li>
          <li class="dropLinks"><a href="#">Investments</a></li>  
          <li class="dropLinks"><a href="#">Vacancy List</a></li>
          <li class="dropLinks"><a href="#">Contact</a></li>
        </ul>  
      </div>
</div>
</div>

</header>
