 <div class="container">
    
      <!-- Codrops top bar -->

      
      <div class="st-container">
      
        <input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
        <a href="#st-panel-1">Home</a>
        <input type="radio" name="radio-set" id="st-control-2"/>
        <a href="#st-panel-2">Services</a>
        <input type="radio" name="radio-set" id="st-control-3"/>
        <a href="#st-panel-3">About Us</a>
        <input type="radio" name="radio-set" id="st-control-4"/>
        <a href="#st-panel-4">Investments</a>
        <input type="radio" name="radio-set" id="st-control-5"/>
        <a href="#st-panel-5">Contact</a>
        
        <div class="st-scroll">
        
          <!-- Placeholder text from http://hipsteripsum.me/ -->
          
          <section class="st-panel st-bg" id="st-panel-1">
            <!-- <div class="st-deco" data-icon="H"></div> -->
            <div class="workaround">
              <div id="bgTxtme">
                <h2>Turning Your Vision Into Realty</h2>
                <p>
                  <!-- <a href="#" class="linkHover">&nbsp;</a> -->
                </p>
                  <br /><br /><br />
                <div class="btnCenter">
                  <button class="btn btn-default btn-lg centerBtn">Click here to see available listings.
                  </button>
                </div>
              </div>
             </div>
          </section>
          
          <section class="st-panel st-color" id="st-panel-2">
           <!--  <div class="st-deco" data-icon="2"></div> -->
           
            <h2>Services</h2>
            <p>Art party readymade beard labore cosby sweater culpa. Art party whatever incididunt, scenester umami polaroid tofu.</p>
         
          </section>
          
          <section class="st-panel" id="st-panel-3">
            <!-- <div class="st-deco" data-icon="B"></div> -->
            <h2>About Us</h2>
            <p>Sint aute occaecat id vice. Post-ironic fap pork belly next level godard, id fanny pack williamsburg forage truffaut.</p>
          </section>
          
          <section class="st-panel st-color" id="st-panel-4">
            <!-- <div class="st-deco" data-icon="x"></div> -->
            <h2>Investments</h2>
            <p>Mixtape fap leggings art party, butcher authentic farm-to-table you probably haven't heard of them do labore cosby sweater.</p>
          </section>
          
          <section class="st-panel" id="st-panel-5">
            <!-- <div class="st-deco" data-icon="Ç"></div> -->
            <h2>Contact</h2>
            <p>Fixie ad odd future polaroid dreamcatcher, nesciunt carles bicycle rights accusamus mcsweeney's mumblecore nulla irony.</p>
          </section>

          <section class="st-panel" id="st-panel-6">
            <!-- <div class="st-deco" data-icon="Ç"></div> -->
            <h2>Passion</h2>
            <p>Fixie ad odd future polaroid dreamcatcher, nesciunt carles bicycle rights accusamus mcsweeney's mumblecore nulla irony.</p>
          </section>


        </div><!-- // st-scroll -->
        
      </div><!-- // st-container -->
      
</div>
