<div id="myCarousel carousel-example-generic pushdown" class="carousel slide mySlider carousel-fade" data-ride="carousel">
  <!-- Indicators -->
<!--     <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img class="imageSlide" src="/assets/slider1.jpg" alt="kitten">
      <div class="carousel-caption slideTxt">
        <h1></h1><br />
      </div>
    </div>
    <div class="item">
      <img class="imageSlide" src="/assets/slider3.jpg" alt="kitten">
      <div class="carousel-caption">
        <h1></h1><br />
      </div>
    </div>
      <div class="item">
      <img class="imageSlide" src="/assets/slider4.jpg" alt="kitten">
      <div class="carousel-caption">
        <h1></h1><br />
      </div>
    </div>
    
  </div>

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="fa fa-angle-left fa-3x myArrow"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="fa fa-angle-right fa-3x myArrow"></span>
  </a> -->
</div>


</div>
